<div class="admin_register">
  <h1>管理者登録</h1>

  <%= form_for(:admin, url:admin_register_path) do |f| %>

  <%= f.label '名前' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label 'パスワード' %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label 'パスワード確認' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit '登録', class: 'btn btn-primary' %>

  <% end %>
</div>
